* {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #361c41;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  position: absolute;
  top: 200px;
  color: wheat;
}

.card {
  width: 50%;
}
